.header {
    display: flex;
    flex-direction: column;
}
.header > .content {
    display: grid;
    grid-template-columns: 33% auto;
    height: 100%;
    background-color: var(--dark);
}
.header-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/header-react-illustration.jpg');
    background-position: 50%;
    background-size: cover;
    z-index: -1;
    filter: opacity(0.3);
}
.header > .content > .header-left {
    padding-bottom: 4em;
    position: relative;

    flex-direction: row;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color: var(--light);
    border-radius: 0px 15px 15px 0px;
 
}
.header > .content > .header-left > .content {
    padding: 4em;
    box-sizing: border-box;
    border-radius: 0 15px 15px 0;
    background-color: var(--primary);
}
.header > .content > .header-left > .content > .stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
}
.header-left > .content {
    position: relative;
    padding: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    box-sizing: border-box;
    color: black;
}
.header > .content > .header-right {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 4em;
    box-sizing: border-box;
    gap: 4em;
}
.header > .content > .header-right > .summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}
.header > .content > .header-right > .summary > div > p {
    margin: 0;
    padding: 15px;
    text-align: center;
}
.header > .content > .header-right > .summary > div > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: darkkhaki;
}
.header-right > .content {
    padding: 4em;
    box-sizing: border-box;
    background-color: var(--tertiary);
    border-radius: 15px;
    width: 100%;
    height: fit-content;
}