/*Titles*/
@font-face {
    font-family: 'BebasNeue';
    src: url('./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

/*Subtitles*/
@font-face {
    font-family: 'BarlowCondensed';
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Black.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-BlackItalic.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-BoldItalic.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraBold.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraBoldItalic.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraLightItalic.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Italic.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-LightItalic.ttf');
    src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf');
}

/*Handmade*/
@font-face {
    font-family: 'GreatVibes';
    src: url('./assets/fonts/Great_Vibes/GreatVibes-Regular.ttf');
}

/*Description: Kid Handmade*/
@font-face {
    font-family: 'IndieFlower';
    src: url('./assets/fonts/Indie_Flower/IndieFlower-Regular.ttf');
}

:root {
    --primary: #c9ff65;
    --primary-translucent: #c9ff6581;
    --secondary: #002735;
    --secondary-translucent: #00273576;
    --tertiary: steelblue;
    --tertiary-translucent: rgba(70, 131, 180, 0.504);
    --dark: rgb(42, 42, 42);
    --dark-lighter: #3d3d3d;
    --dark-darker: rgb(34, 34, 34);
    --light: rgb(226, 226, 226);
}

h1 {
    font-family: 'BebasNeue';
}
h2, h3, h4 {
    font-family: 'BarlowCondensed';
}